<html>
   <head>
      <title>Bem-vindo ao ambiente de <%= @ambiente %></title>
   </head>
   <body>
      <h1>IBM TechU 2018 - Fortaleza, CE</h1>
      <hr>
      <h2>Ambiente: <b><%= @ambiente %></b></h2>
   </body>
</html>
